<div class="c-product-card {% if secondary_color == true %}-secondary{% endif %}">
  <div class="c-product-card_image">
    <a href="{{ product.url }}">
      <img src="{{ product.featured_image | image_url: width: 350 }}"
      width="350" height="500" loading="lazy"
      alt="{{ product.image.alt }}">
    </a>
    {%- if product.available != true -%}
      <span>Agotado</span>
    {%- endif -%}
  </div>
  <div class="c-product-card_info">
    <h3 class="c-product-card_title">
      <a href="{{ product.url }}" title="{{ product.title }}">
        {{ product.title }}
      </a>
    </h3>
  </div>
</div>
