{{ 'component-carousel-style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'component-carousel-script.js' | asset_url }}" defer></script>

<component-carousel>
  {%- if section.settings.decoration_image -%}
    <img src="{{ section.settings.decoration_image | img_url: '850x' }}"
    alt="{{ image.alt }}" width="850" height="500" loading="lazy"
    class="decoration_image">
  {%- endif -%}

  <div class="swiper">
    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        {%- if block.type == 'image' -%}
          {%- assign image = block.settings.image -%}
          {%- if image != blank -%}
            <div class="swiper-slide" data-swiper-parallax-y="0%">
              <img src="{{ image | img_url: '1920x' }}" alt="{{ image.alt }}"
              width="1920" height="1080" loading="lazy">
              {%- if block.settings.title != blank or block.settings.subtitle != blank -%}
                <div class="text {{ block.settings.pos }}">
                  <h2>{{ block.settings.title }}</h2>
                  <h3>{{ block.settings.subtitle }}</h3>

                  {%- if block.settings.button_text != blank and block.settings.button_url != blank -%}
                    <span class="down">⇓</span>
                    <a href="{{ block.settings.button_url }}" class="c-button -light">
                      {{ block.settings.button_text }}
                    </a>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</component-carousel>


{% schema %}
{
  "name": "Carrusel de imagenes",
  "blocks": [
    {
      "type": "image",
      "name": "Imagen",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Insertar imagen"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Titulo"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitulo"
        },
        {
          "type": "select",
          "id": "pos",
          "label": "Posicion del texto",
          "options": [
            {
              "value": "-left",
              "label": "Izquierda"
            },
            {
              "value": "-center",
              "label": "Centro"
            },
            {
              "value": "-right",
              "label": "Derecha"
            }
          ],
          "default": "-right"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Texto del boton"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Url del boton"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "decoration_image",
      "label": "Imagen decorativa"
    }
  ],
  "presets": [
    {
      "name": "Carrusel de imagenes"
    }
  ]
}
{% endschema %}
