<div class="bg">
  <img src="{{ section.settings.bg | img_url: '1600x' }}" alt="{{ section.settings.alt }}" width="1920" height="200" loading="lazy">
</div>

<div class="footer_top o-container -medium -wide">
  <div class="logo">
    <img src="{{ section.settings.logo-light | img_url: '350x' }}" alt="{{ section.settings.alt }}" width="350" height="200" loading="lazy">
  </div>

  <div class="info">
    <a target="_blank" href="{{ section.settings.map_url }}">{{ shop.address.summary }}</a>
    <div class="contact">
      <a href="tel:{{ section.settings.phone }}">{{ section.settings.phone }}</a>
      <a href="mailto:{{ section.settings.email }}">{{ section.settings.email }}</a>
      <a href="{{ section.settings.extern_url }}">{{ section.settings.extern_text }}</a>
    </div>
  </div>

  <div class="social">
    {% render 'component-social-list' %}
  </div>
</div>

<div class="footer_bottom">
  <div class="o-container -medium -wide">
    <nav class="policy">
      <a>
        <strong>© 2022</strong>
        <span>{{ shop.name }}</span>
      </a>
      <a>Todos los derechos reservados</a>
      {% for policy in shop.policies %}
        <a href="{{ policy.url }}">{{ policy.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "class": "footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo-light",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Fondo"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Telefono",
      "default": "+52 26 2819 1134"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Correo electronico",
      "default": "hey@goldensub.com"
    },
    {
      "type": "url",
      "id": "map_url",
      "label": "URL del mapa"
    },
    {
      "type": "text",
      "id": "extern_text",
      "label": "Pagína externa texto"
    },
    {
      "type": "url",
      "id": "extern_url",
      "label": "Pagína externa enlace"
    }
  ]
}
{% endschema %}
