{{ 'component-dark-mode-button.css' | asset_url | stylesheet_tag }}
{{ 'component-predictive-search.css' | asset_url | stylesheet_tag }}
{{ 'component-social-list.css' | asset_url | stylesheet_tag }}
<script src="{{- 'component-dark-mode-button.js' | asset_url -}}" defer></script>
<script src="{{- 'component-predictive-search.js' | asset_url -}}" defer></script>

<header class="header o-container -medium">
  <a href="{{ routes.root_url }}" class="header_logo c-heading -bold">
    {%- if section.settings.logo != blank -%}
      <img src="{{ section.settings.logo | image_url: width: 350 }}"
      alt="{{ section.settings.logo.alt }}" loading="lazy"
      width="{{ section.settings.logo.width }}"
      height="{{ section.settings.logo.height }}">
    {%- else -%}
      {{ shop.name }}
    {%- endif -%}
  </a>

  {%- if template.name != 'index' -%}
    <predictive-search class="header_search search -hide -full" render="true">
      <div class="search_btns">
        <button close type="button" class="c-button -transparent u-hide-md-up">
          {%- render 'component-icon' icon: 'arrow', icon_size: 25 -%}
        </button>
        <form class="search_form" method="get" role="search" tabindex="-1">
          <input class="search_input" id="Search" type="search"
          name="q" placeholder="Buscar productos, marcas y más..."
          value="{{ search.terms | escape }}" role="combobox"
          aria-expanded="false" aria-owns="predictive-search-results-list"
          aria-controls="predictive-search-results-list" aria-haspopup="listbox"
          aria-autocomplete="list" autocorrect="off" autocomplete="off"
          autocapitalize="off"spellcheck="false">
          <button class="search_button" type="submit">
            {%- render 'component-icon' icon: 'search', icon_size: 25 -%}
          </button>

          <input name="options[prefix]" type="hidden" value="last">
        </form>
      </div>

      <div id="predictive-search" class="predictive-search" tabindex="-1">
        <div id="predictive-search-results" class="predictive-search_results"></div>
        <button id="submit-bottom" type="submit" class="c-button -primary" tabindex="-1">
          <span>Buscar “”</span>
          {%- render 'component-icon' icon: 'search', icon_size: 15 -%}
        </button>
      </div>
    </predictive-search>
  {%- endif -%}

  <div class="header_buttons">
    <div class="u-hide-sm-down">
      {% render 'component-social-list' %}
    </div>

    <menu-open class="u-hide-md-up">
      <button class="c-button -navigator">
        {%- render 'component-icon' icon: 'hamburger', icon_size: 25 -%}
      </button>
    </menu-open>

    {%- if template.name != 'index' -%}
      <open-search class="header_search-icon u-hide-md-up">
        <button class="c-button -transparent" type="button">
          {%- render 'component-icon' icon: 'search', icon_size: 30 -%}
        </button>
      </open-search>
    {%- endif -%}

    {%- if shop.customer_accounts_enabled -%}
      {%- if customer -%}
        <a class="c-button -navigator" href="/account">
          {%- render 'component-icon' icon: 'account', icon_size: 30 -%}
          <span class="u-hide-sm-down">Cuenta</span>
        </a>
      {%- else -%}
        <a class="c-button -navigator" href="/account/login">
          {%- render 'component-icon' icon: 'account', icon_size: 30 -%}
          <span class="u-hide-sm-down">Iniciar sesión</span>
        </a>
      {%- endif -%}
    {%- endif -%}
  </div>
</header>

{% style %}
  .header_logo img{
    min-width: 50px;
    width: {{ section.settings.img_width }}px;
  }
{% endstyle %}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "img_width",
      "label": "Tamaño del logo",
      "unit": "px",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 200
    }
  ]
}
{% endschema %}
