{{ 'section-main-account.css' | asset_url | stylesheet_tag }}

<div class="account o-container -xlarge -medium">
  <div class="o-grid u-mv-medium">
    <div class="o-col-12 u-mb-small">
      <h1 class="u-mb-small c-heading -h1">Cuenta</h1>
    </div>
    <div class="o-col-xlg-8 o-col-lg-8 o-col-md-8 o-col-12 u-mb-medium u-ph-small">
      <div class="u-mb-medium">
        <p class="c-heading -h3">Nombre</p>
        <p>{{ customer.name }}</p>
      </div>
      <div class="u-mb-medium">
        <p class="c-heading -h3">Teléfono</p>
        <p>{{ customer.phone }}</p>
      </div>
      <div class="u-mb-medium">
        <p class="c-heading -h3">Correo electrónico</p>
        <p>{{ customer.email }}</p>
      </div>
      <div class="u-mb-medium">
        <p class="c-heading -h3">Dirección Principal</p>
        {{ customer.default_address | format_address }}
        {% for tag in customer.tags %}
          {{ tag }}
        {% endfor %}
      </div>
    </div>

    <div class="o-col-auto u-ph-small">
      {% render 'customer-menu' %}
      <a href="/" class="u-mv-medium c-button -full">Ir a tienda</a>
    </div>

    <div class="o-col-12">
      <h2 class="c-heading -h2 u-align-center">Ordenes de compra</h2>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <div class="responsive-table">
            <table role="table" class="order-history">
              <caption class="u-hide-visually">Ordenes de compra</caption>
              <thead role="rowgroup">
                <tr role="row">
                  <th id="ColumnOrder" scope="col" role="columnheader">Numero orden</th>
                  <th id="ColumnDate" scope="col" role="columnheader">Fecha</th>
                  <th id="ColumnPayment" scope="col" role="columnheader">Pago</th>
                  <th id="ColumnFulfillment" scope="col" role="columnheader">Envio</th>
                  <th id="ColumnTotal" scope="col" role="columnheader">Total</th>
                </tr>
              </thead>
              <tbody role="rowgroup">
                {%- for order in customer.orders -%}
                  <tr role="row">
                    <td
                      id="RowOrder"
                      role="cell"
                      headers="ColumnOrder"
                      data-label="Numero de orden"
                    >
                      <a href="{{ order.customer_url }}">
                        {{ order.name }}
                      </a>
                    </td>
                    <td headers="RowOrder ColumnDate" role="cell" data-label="Fecha">
                      {{ order.created_at | time_tag: format: 'date' }}
                    </td>
                    <td headers="RowOrder ColumnPayment" role="cell" data-label="Pago">
                      {{ order.financial_status_label }}
                    </td>
                    <td headers="RowOrder ColumnFulfillment" role="cell" data-label="Envio">
                      {{ order.fulfillment_status_label }}
                    </td>
                    <td headers="RowOrder ColumnTotal" role="cell" data-label="Total">
                      {{ order.total_price | money_with_currency }}</td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          </div>
        {%- else -%}
          <p class="u-align-center">Ninguna orden</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation">
                <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}">{{ part.title }}</a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page">{{ part.title }}</span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
                </ul>
              </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cuenta",
  "tag": "section",
  "settings": []
}
{% endschema %}
