{{ 'section-main-findUs.css' | asset_url | stylesheet_tag }}

<div class="bg"></div>

<div class="findUs o-container -wide -medium u-pv-medium">
  <h1>{{ section.settings.heading }}</h1>

  <div class="locations">
    {%- for article in blog.articles -%}
      <div class="location">
        <img src="{{ article.image.src | image_url: width: 500 }}"
        alt="{{ article.image.alt }}" class="location_image"
        width="500" height="500" loading="lazy">
        <h2 class="location_title">{{ article.title }}</h2>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Encuéntranos",
  "tag": "section",
  "class": "section-main-findUs",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Titulo",
      "default": "Encuéntranos en.."
    }
  ]
}
{% endschema %}
