{%- if predictive_search.performed -%}
  <div id="predictive-search-results" class="predictive-search_results">
    {%- if predictive_search.resources.collections.size > 0 -%}
      <div class="predictive-search_item">
        <h3 id="predictive-search-collections" class="predictive-search_heading">
          Categorias, productos y mas...
        </h3>
        <ul id="predictive-search-results-collections" class="predictive-search_collections" role="listbox" aria-labelledby="predictive-search-products">
          {%- for collection in predictive_search.resources.collections -%}
            <li class="predictive-search_list-item" role="option">
              <a href="{{ collection.url }}" class="predictive-search_link" tabindex="-1">
                <span>{{ collection.title }}</span>
                {%- render 'component-icon' icon: 'arrow', icon_size: 15 -%}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if predictive_search.resources.products.size > 0 -%}
      <div class="predictive-search_item">
        <h3 id="predictive-search-products" class="predictive-search_heading">
          Productos
        </h3>
        <ul id="predictive-search-results-products" class="predictive-search_products" role="listbox" aria-labelledby="predictive-search-products">
          {%- for product in predictive_search.resources.products -%}
            <li class="predictive-search_list-item" role="option">
              <a href="{{ product.url }}" class="predictive-search_product product" tabindex="-1">
                {%- if product.featured_media != blank -%}
                  <img class="product_image"
                    src="{{ product.featured_media | img_url: '350x' }}"
                    alt="{{ product.featured_media.alt }}"
                    width="350"
                    loading="lazy"
                    height="{{ 350 | divided_by: product.featured_media.preview_image.aspect_ratio }}"
                  >
                {%- endif -%}

                <h3 class="product_title">{{ product.title }}</h3>
                <span class="product_vendor">por <span>{{ product.vendor }}</span></span>
                <div class="product_price">
                  {%- render 'price' product: product, show_badges: true -%}
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if predictive_search.resources.articles.size > 0 -%}
      <div class="predictive-search_item">
        <h3 id="predictive-search-articles" class="predictive-search_heading">
          Artículos
        </h3>
        <ul id="predictive-search-results-articles" class="predictive-search_articles" role="listbox" aria-labelledby="predictive-search-articles">
          {%- for article in predictive_search.resources.articles -%}
            <li class="predictive-search_list-item" role="option">
              <a href="{{ article.url }}" class="predictive-search_article article" tabindex="-1">
                {%- if article.image != blank -%}
                  <img class="article_image"
                    src="{{ article.image.src | image_url: width: 500 }}"
                    alt="{{ article.image.alt }}"
                    width="350"
                    loading="lazy"
                    height="{{ 350 | divided_by: article.featured_media.preview_image.aspect_ratio }}"
                  >
                {%- endif -%}

                <h3 class="article_title">{{ article.title }}</h3>
                <p class="article_excerpt">
                  {%- assign content = article.content | strip_html -%}
                  {%- if article.excerpt != blank -%}
                    {{ article.excerpt | strip_html }}
                  {%- elsif content != blank -%}
                    {{ article.content | strip_html | truncate: 200 }}
                  {%- else -%}
                    Visualice el artículo completo
                  {%- endif -%}
                </p>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
  </div>

  <button type="submit" class="predictive-search_submit" tabindex="-1" hidden>
    <span>Buscar “{{ predictive_search.terms }}”</span>
    {%- render 'component-icon' icon: 'search', icon_size: 15 -%}
  </button>
{%- endif -%}
